{% extends "base.html" %}
{% block content %}

<form action="/map" method="post">
  <p>HP</p>
  <label><input type="radio" name="map">HP_Azir Cave</label>
  <label><input type="radio" name="map">HP_GunRunner</label>
  <label><input type="radio" name="map">HP_Hakney Yard</label>
  <label><input type="radio" name="map">HP_Rammaza</label>
  <label><input type="radio" name="map">HP_St.Petrograd</label>
  <p>SD</p>
  <label><input type="radio" name="map">SD-Arklov Peak</label>
  <label><input type="radio" name="map">SD-Gun Runner</label>
  <label><input type="radio" name="map">SD-Picadelly</label>
  <label><input type="radio" name="map">SD-Rammaza</label>
  <label><input type="radio" name="map">SD-St.Petrograd</label>
  <p>DOM</p>
  <label><input type="radio" name="map">DOM-Gun Runner</label>
  <label><input type="radio" name="map">DOM-Hakney Yard</label>
  <label><input type="radio" name="map">DOM-St.Petrograd</label>

  <table border="solid 1px #fff" style="width: 100%;">
    <tr>
      <th>name</th>
      <th>kill</th>
      <th>death</th>
      <th>times</th>
      <th>defence</th>
      <th>aproach</th>
      <th>win</th>
      <th>lose</th>
    </tr>
    <tr>
      <td><input type="text" name="player_name1"></td>
      <td><input type="text" name="kill_1"></td>
      <td><input type="text" name="death1"></td>
      <td><input type="text" name="times1"></td>
      <td><input type="text" name="defence1"></td>
      <td><input type="text" name="aproach1"></td>
      <td><input type="text" name="win1"></td>
      <td><input type="text" name="lose1"></td>
    </tr>
    <tr>
      <td><input type="text" name="player_name2"></td>
      <td><input type="text" name="kill_2"></td>
      <td><input type="text" name="death2"></td>
      <td><input type="text" name="times2"></td>
      <td><input type="text" name="defence2"></td>
      <td><input type="text" name="aproach2"></td>
      <td><input type="text" name="win2"></td>
      <td><input type="text" name="lose2"></td>
    </tr>
    <tr>
      <td><input type="text" name="player_name3"></td>
      <td><input type="text" name="kill_3"></td>
      <td><input type="text" name="death3"></td>
      <td><input type="text" name="times3"></td>
      <td><input type="text" name="defence3"></td>
      <td><input type="text" name="aproach3"></td>
      <td><input type="text" name="win3"></td>
      <td><input type="text" name="lose3"></td>
    </tr>
    <tr>
      <td><input type="text" name="player_name4"></td>
      <td><input type="text" name="kill_4"></td>
      <td><input type="text" name="death4"></td>
      <td><input type="text" name="times4"></td>
      <td><input type="text" name="defence4"></td>
      <td><input type="text" name="aproach4"></td>
      <td><input type="text" name="win4"></td>
      <td><input type="text" name="lose4"></td>
    </tr>
    <tr>
      <td><input type="text" name="player_name5"></td>
      <td><input type="text" name="kill_5"></td>
      <td><input type="text" name="death5"></td>
      <td><input type="text" name="times5"></td>
      <td><input type="text" name="defence5"></td>
      <td><input type="text" name="aproach5"></td>
      <td><input type="text" name="win5"></td>
      <td><input type="text" name="lose5"></td>
    </tr>
  </table>

  <input type="submit" value="送信">

</form>

{% endblock%}