<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen and (min-width:765px)">
  <title>Document</title>
</head>

<body>
  <header class="box header">
    <div>
      <h1 class="h-title"><span class="h-title-c">Clan Data</span></h1>

      <ul>
        <li><a href="/">Top</a></li>
        <li><a href="/grade">My Grade</a></li>
        <li><a href="/list">掲示板</a></li>
        <li><a href="/login">Q&A</a></li>
      </ul>

    </div>
  </header>

  {% block content %}

  {% endblock %}

  <footer class="box" id="footer">
    <p>Sunabaco Ebetsu &copy; all rights reserved</p>
  </footer>
</body>

</html>