{% extends "base.html" %}
{% block content %}
<div class="box">
    <h2 class="g-title">成績表</h2>
    <table class="grade">
        <tr>
            <td>name</td>
            <td>kill</td>
            <td>death</td>
            <td>point_time</td>
            <td>defence</td>
            <td>win</td>
            <td>kd</td>
            <td>approach</td>
        </tr>
        <!-- app.pyのディクショナリーがここのtask_listに入ってそれがitmeに代入される -->
        {% for item in grade_list %}
        <tr>
            <td>{{item["name"]}}</td>
            <td>{{item["kill"]}}</td>
            <td>{{item["death"]}}</td>
            <td>{{item["point_time"]}}</td>
            <td>{{item["defense"]}}</td>
            <td>{{item["win"]}}</td>
            <td>{{item["kd"]}}</td>
            <td>{{item["approach"]}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/search" class="search-btn">戦績検索画面へ</a>
    <a href="/map" class="search-btn">戦績追加画面へ</a>
</div>
{% endblock %}